<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="/styles2.css">;
    </head>

    <body>
       <div class="box" id="heading">
        <h1>It is a <%=kindofday%>!</h1>
       </div>

       
            <!-- <li>Buy Food</li>
            <li>Cook Food</li>
            <li>Eat Food</li> -->
            <!-- // <li><%=additem%></li>// -->
          <div class="box">
            <% for(var i=0;i<additem.length; i++){%>
                <div class="item">
                    <input type="checkbox">
                    <p><%= additem[i] %></p>
                </div>
                
            <%} %>

            <form class="item" action="/" method="post">
                <input type="text" name="newitem" placeholder="New Item">
                
                <button type="submit" name="button">+</button>
            </form>
           

          </div>
       

       
    </body>
    
</html>